.header-video{
    opacity: 1;
    object-fit: cover;
  
  }
  .header-section{
    width: 100%;
    
    height: 100vh;
    position: relative;
    opacity: 1;
    color: #f1f1f1;
    
  }
  
  #myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  


.container{
    width: 1240px;
    margin: 0 auto;
}
 
.header-pic{
    width: 200px; 
    height: 58px;
    margin-top: 15px;
}
.header-picture{
    width: 30px;
    height: 30px;
}
.header-name{
    color: #fff;
    line-height: 60px;
    font-size: 50px;
}
.header-text{
    color: #fff;
    font-size: 18px;
}
.header-button{
    width: 270px;
    height: 50px;
    background-color: dodgerblue;
    color: #fff;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    font-family: 'Gideon Roman';
}
.navbar-nav{
    margin-left: 20px;
}
.nav-link{
    color: aliceblue;
}
.header-list{
    display: flex;
    justify-content: space-evenly;
}
.header-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height:22px;
}
.header_page{
    text-align: center;   
}

.nav-items{
    /* margin-left: 25px; */
}
.bolt{
    height: 20px;
}

.header-pages{
    position: absolute;
    top: 90%;
    left: 18%;
    width: 65%;
}